<todo-filter-form (onChangeCompleteOnlyFilter)="updateOnlyShowCompleteFilter($event)" (onChangeFilterTerm)="filterString=$event"></todo-filter-form> 
<p *ngFor="let tdi of todoItems | filterTodos:onlyShowComplete:filterString; let i = index"><!-- need a no results-->
 <!--[ngClass]="{'completed': tdi.isComplete, 'hidden': hovered}"-->
 <span [class.completed] = "tdi.isComplete"><input type = "checkbox" (click)="updateStatus(tdi)" [checked]="tdi.isComplete"> <span (click)="editItem(tdi)">{{ tdi.todoText  | uppercase }} is due on {{ tdi.todoDate }}</span></span><span (click)="removeItem(tdi)">Remove</span><!--<span [class.hidden] = "!hovered" (mouseout)="hovered=false" >Complete</span>-->
</p>
